<h2>Необроблена деревина: створення нового запису</h2>
<%= bootstrap_form_for(@unprocessed,url: admin_unprocessed_index_path) do |f| %>
<%= render partial: "admin/unprocessed/form_edit", locals: {f: f} %>
<% end %>