    <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
      
            <%=  render "layouts/slider" %>
            <%  render "layouts/block_green" %>
             
            <div class="row">
              <div class="span12">
                 <h3 class="headline"><span>Товарна Біржа Подільська</span></h3>
              </div>
            </div>
              <br>
              <div class="row">
                <div class="span5"></div><!-- end .span5 -->
                <div class="span7">
                    
Товарна біржа "Подільська" пропонує своїм клієнтам послуги з технічної підготовки та проведенню біржових торгів (аукціонів).
Пропонуємо розглянути можливість взаємовигідного співробітництва з Вашою компанією з наступних операцій:

                    <ul class="check">  
                      <li>відчуження об’єктів державної власності;</li>
                        <li>продаж заставних активів підприємств – боржників, що знаходяться у податковій заставі;</li>
                        <li>технічна підготовка та проведення біржових торгів (аукціонів) з продажу необробленої деревини; </li>
                        <li>технічна підготовка та проведення земельних торгів (аукціонів);</li>
                        <li>підготовка та проведення біржових торгів (аукціонів) з продажу майна підприємств-банкрутів;</li>
                        <li>продаж рухомого та нерухомого майна любої форми власності;</li>
                    </ul>
                    Наш професіоналізм та прозорість – запорука успіху членів нашої біржі та клієнтів.
Довідки за телефонами: ТБ "Подільська" (0382) 79-58-01, 70-22-10, 70-22-11, 65-05-13, 70-20-73.

                </div><!-- end .span7 -->
              </div><!-- end .row -->
            
            <br><br><br>
            
