    <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
      
            <%=  render "layouts/slider" %>
            <%  render "layouts/block_green" %>
             
            <div class="row">
              <div class="span12">
                 <h3 class="headline"><span>Товарна Біржа Подільська</span></h3>
              </div>
            </div>
              <br>
              <div class="row">
                <div class="span5"></div><!-- end .span5 -->
                <div class="span7">
                    <ul class="check">  
                      <li>Проводить торги на принципах публічності і рівноправності всіх учасників, об'єктивного формування рівня цін</li>
                        <li>Інформаційні послуги по рівню цін на біржових торгах товарних бірж України, світових ринках</li>
                        <li>Консультативні послуги по правилах торгівлі, членства на біржі, з питань приватизації </li>
                        <li>Послуги по навчанню брокерів біржовій торгівлі</li>
                        <li>Експертна оцінка майна</li>
                    </ul>
                </div><!-- end .span7 -->
              </div><!-- end .row -->
            
            <br><br><br>
            
