<% provide(:title, "Електронні біржові торги" ) %>
<div id="page-header">
  <div class="row">
    <div class="span12">
      <h2>Електронні біржові торги</h2>
    </div>
    <!-- end .span12 -->
  </div><!-- end .row -->
</div><!-- end #page-header -->

<div class="row">
  <div class="span12">
    <h3 class="headline" style="margin-bottom: 5px;"><span>Сторінка в розробці</span></h3>
      На данний момент часу сторінка в розробці. Спробуйте будь-ласка пізніше
    </div>
  </div>
<br>
    