<% provide(:title, "Торги і аукціони" ) %>
<div id="page-header">
  <div class="row">
    <div class="span12">
      <h2>Торги і аукціони</h2>
    </div>
    <!-- end .span12 -->
  </div><!-- end .row -->
</div><!-- end #page-header -->

<div class="row">
  <div class="span12">
                    <ul class="check">  
                      <li><%= link_to "Аукціон з необробленої деревини", "/untreatedwood" %></li>
                      <li><%= link_to "Результати аукціону з необробленої деревини", result_index_path %></li>
                       <li><%= link_to "Біржовий бюлетень", auction_index_path %></li>
                        <li><%= link_to "Електронні біржові торги", "/etorgy" %></li>
                    </ul>
    </div>
  </div>
<br>
    
