<% provide(:title, "Аукціон з необробленої деревини" ) %>
<div id="page-header">
  <div class="row">
    <div class="span12">
      <h2>Аукціон з необробленої деревини</h2>
    </div>
    <!-- end .span12 -->
  </div><!-- end .row -->
</div><!-- end #page-header -->

<div class="row">
  <div class="span12"> 
    <h3 class="headline" style="margin-bottom: 5px;max-width: px;"><span>Аукціон з необробленої деревини</span></h3>

      <!-- Записи //-->
      <% @unprocessed.each do |u|  %>
      <% if u.visible == 1 %>
      <% if u.filename != '' && u.content =='' %>
      <%= link_to u.title, download_unprocessed_path(u.id) %>
      <% else  %>
      <%= link_to_page_unprocessed u.id %><br><br>
      <% end  %>
      <% end  %>
      <% end  %>


      <!-- Пропозиції з продажу //-->
      <%= propoz @propozs %>





    </div>
  </div>
  <br>
