<h2>Результати з продажу необробленої деревини: створення нового запису</h2>
<%= bootstrap_form_for(@result, url: admin_result_index_path) do |f| %>
<%= render partial: "admin/result/form_edit", locals: {f: f} %>
<% end %>