<% provide(:title, @page.title ) %>
<div id="page-header">
  <div class="row">
    <div class="span12">
      <h2><%= @page.title %></h2>
    </div>
    <!-- end .span12 -->
  </div><!-- end .row -->
</div><!-- end #page-header -->

<div class="row">
  <div class="span12">
    <h3 class="headline" style="margin-bottom: 5px;"><span><%= @page.title %></span></h3>
      <%= (@page.content).html_safe %>
    </div>
  </div>
<br>
    