    <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
      
            <%  render "layouts/slider" %>
            <%  render "layouts/block_green" %>
             
            <div class="row">
              <div class="span12">
                 <h3 class="headline"><span>Сторінку не знайдено</span></h3>
              </div>
            </div>
              <br>
              <div class="row">
                <div class="span5"></div><!-- end .span5 -->
                <div class="span7">
                  На жаль, такої сторінки не знайдено
                </div><!-- end .span7 -->
              </div><!-- end .row -->
            
            <br><br><br>
            