<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   <b>Ім'я: </b><%= @params['name'] %><br>
   <b>e-mail: </b><%= @params['email'] %><br>
   <b>телефон: </b><%= @params['phone'] %><br>
   <b>Повідомлення: </b><%= @params['text'] %><br>
  </body>
</html>