<p>Вітаємо <%= @resource.email %>!</p>

<p>Хтось надіслав запит для зміни Вашого паролю. Якщо це були Ви, перейдіть за посиланням нижче.</p>

<p><%= link_to 'Змінити мій пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Якщо це були не Ви, будь-ласка проігноруйте цей лист</p>

