<% provide(:title, 'Повідомлення надіслано') %>
<%= render layout: "feedback/feedback_index"  do %>
                
                  <h3>Повідомлення надіслано!</h3>
                    Ваше повідомлення успішно надіслано. Найблищим часом з Вами зв'яжеться наш представник. 
                    <br>
<% end %>                  
