<div class="box" style="background-image:image-url("content/backgrounds/bg-box.png");">
              
                <div class="row">
                  <div class="span12">
                      
                        <div class="callout-box hidden-phone">
                          
                            <div class="row">
                              <div class="span9">
                                  
                                    <div class="icon-box-1">
                                      
                                        <i class="ifc-download2"></i>
                                        
                                        <div class="icon-box-content">
                                          
                                            <h2>
                                              <a href="#">Sed ut perspiciatis unde <strong>omnis iste natus</strong> error sit </a>
                                            </h2>
                                            
                                            <p class="last hidden-tablet">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque 
                                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi explicabo.</p>
                                        
                                        </div><!-- end .icon-box-content -->
                                        
                                    </div><!-- end .icon-box-1 -->
                                    
                                </div><!-- end .span9 -->
                                <div class="span3 text-right">
                                  
                                    <a class="btn btn-large btn-black" href="#"><strong>Buy It</strong> Now</a>
                                    
                                </div><!-- end .span3 -->
                            </div><!-- end .row -->
                            
                        </div><!-- end .callout-box -->
                        
                    </div><!-- end .span12 -->
                </div><!-- end .row -->
                
            </div><!-- end .box -->
            