    <div id="footer">
    
    <!-- /// FOOTER     ///////////////////////////////////////////////////////////////////////////////////////////////////////// -->
      
            <div id="footer-top">
            
            <!-- /// FOOTER TOP  //////////////////////////////////////////////////////////////////////////////////////////////////// -->
                
                <div class="row">
                  <div class="span12" id="footer-top-widget-area-1">
                      
                        <div class="widget widget_text">
                    
                            <div class="textwidget">
                                
                                <div class="row">
                                  <div class="span9">
                                      
                                        <h1 class="last">Want <strong>the best</strong> for your business?</h1>
                                        
                                    </div><!-- end .span9 -->
                                    <div class="span3">
                                      
                                        <a class="btn btn-black btn-large" href="#">Purchase <strong>Now!</strong></a>
                                        
                                    </div><!-- end .span3 -->
                                </div><!-- end .row -->
                                
                            </div><!-- end .textwidget -->
                            
                        </div><!-- end .widget_text -->
                        
                    </div><!-- end .span12 -->
                </div><!-- end .row -->
            
            <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
            
            </div><!-- end #footer-top -->  
      <div id="footer-middle">
            
            <!-- /// FOOTER MIDDLE  //////////////////////////////////////////////////////////////////////////////////////////////// -->

                <div class="row">
                    <div class="span3" id="footer-middle-widget-area-1">
                        
                        <div class="widget widget_text">
                            
                            <h3 class="widget-title">
                                <span>About us</span>
                            </h3>
                        
                            <div class="textwidget">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. 
                 Estibulum non aliquam odio, vitae vehicula dolor. </p>
                                <p class="last">Sed congue ligula nisi, id tempor nibh tempor molestie. Duis interdum neque
                ligula, sit amet porttitor odio semper.</p>
                            </div><!-- end .textwidget -->
                            
                        </div><!-- end .widget_text -->
                        
                    </div><!-- end .span3 -->
                    <div class="span3" id="footer-middle-widget-area-2">
                        
                       <div class="widget ewf_widget_blog-post">
                            
                            <h3 class="widget-title">
                                <span>Blog</span>
                            </h3>
                        
                            <ul class="blog-post">
                              <li>
                              
                                    <%= image_tag "content/footer/45x42-1.png" %>
                                    
                                    <p>
                                        News 
                                        <span>15.3.2014</span>
                                    </p>
                                    
                                    <p>
                                        <a href="#">Aliquam aliquam pellentesque elit vel accumsan</a>
                                    </p>
                                
                                </li>
                                <li>
                              
                                    <%= image_tag "content/footer/45x42-2.png" %>
                                    
                                    <p>
                                        Media 
                                        <span>9.2.2014</span>
                                    </p>
                                    
                                    <p>
                                        <a href="#">Sed venenatis, nibh et commodo malesuada nibh</a>
                                    </p>
                                
                                </li>
                            </ul>
                            
                        </div><!-- end .widget_blog-post -->
                        
                    </div><!-- end .span3 -->
                    <div class="span3" id="footer-middle-widget-area-3">
                      
                        <div class="widget ewf_widget_contact_info">
                            
                            <h3 class="widget-title">
                                <span>Contact</span>
                            </h3>
                        
                            <address>
                              <strong>Sapphire Offices</strong><br>
                121th Street North East<br>
                Atlanta, GA 30309<br>
                <br>
                                Phone: (012) 345-6789<br>
                Fax: (012) 456-7890<br> 
                                E-mail: office@sapphire.com 
                            </address>
                            
                        </div><!-- end .widget_contact_info -->
                        
                    </div><!-- end .span3 -->
                    <div class="span3" id="footer-middle-widget-area-4">
                        
                        <div class="widget ewf_widget_newsletter">
                            
                            <h3 class="widget-title">
                                <span>Newsletter</span>
                            </h3>
                        
                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore aliqua. </p>
                            
                            <form id="newsletter-subscribe-form" action="#">
                                <fieldset>
                                    <input type="text" name="email" placeholder="email address...">
                                    <input type="submit" name="submit" value="Go!">
                                </fieldset>
                            </form>
                            
                        </div><!-- end .widget_newsletter -->
                        
                    </div><!-- end .span3 -->
                </div><!-- end .row -->
                
            <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->    
            
            </div><!-- end #footer-middle -->
            <div id="footer-bottom">
            
            <!-- /// FOOTER BOTTOM  ///////////////////////////////////////////////////////////////////////////////////////////////////// -->
              
                <div class="row">
                  <div class="span6" id="footer-bottom-widget-area-1">
                    
            <div class="widget widget_text">
                        
                            <div class="textwidget">
                                <p class="last">
                                  <%= image_tag "logo.png", class: "responsive-img" %>
                                    <span class="hidden-tablet hidden-phone">Copyright &copy; 2014 Sapphire INC</span>
                                </p>
                            </div><!-- end .textwidget -->
                            
                        </div><!-- end .widget_text -->
                    
                    </div><!-- end .span6 -->
                    <div class="span6 text-right" id="footer-bottom-widget-area-2">
                    
            <div class="widget ewf_widget_social_media">
                          
                            <div class="fixed">
                              
                                <a href="#" class="facebook-icon social-icon">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="twitter-icon social-icon">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="googleplus-icon social-icon">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="#" class="pinterest-icon social-icon">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                                <a href="#" class="youtube-icon social-icon">
                                    <i class="fa fa-youtube"></i>
                                </a>
                                
                            </div>
                            
                        </div><!-- end .widget_social_media -->
                    
                    </div><!-- end .span6 -->
                </div><!-- end .row -->
                
            <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
              
            </div><!-- end #footer-bottom -->
            
    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    </div><!-- end #footer -->
    
  </div><!-- end #wrap -->
