    <div id="footer">
      <div id="footer-top">
        </div><!-- end #footer-top -->  
          <div id="footer-middle">
            <div class="row">
              <div class="span3" id="footer-middle-widget-area-1">
                <div class="widget widget_text">
                  <h3 class="widget-title"><span>Про нас</span></h3>
                  <div class="textwidget">
<p>
Проведення аукціонів
Оформлення договорів
купівлі продажу.
Експертна оцінка майна
Консультативні послуги
Проведення аукціонів з
продажу квартир,
транспорту, нерухомості
фізичних та юридичних осіб
</p>
                            </div><!-- end .textwidget -->
                            
                        </div><!-- end .widget_text -->
                        
                    </div><!-- end .span3 -->
                    <div class="span3" id="footer-middle-widget-area-2">
                        
                       <div class="widget ewf_widget_blog-post">
                            
                            <h3 class="widget-title">
                                <span>Новини</span>
                            </h3>
                        
                            <ul class="blog-post">
                              <% Article.block.each do |a|%>
                                <li>
                                    <p>
                                      <%= article_link a %>
                                      <span><%= a.created_at_date %></span>
                                    </p>
                                </li>
                                <% end %>
                            </ul>
                        </div><!-- end .widget_blog-post -->
                    </div><!-- end .span3 -->
                    <div class="span3" id="footer-middle-widget-area-3">
                        <div class="widget ewf_widget_contact_info">
                            <h3 class="widget-title">
                                <span>Контакти</span>
                            </h3>
                            <address>
                              <strong>Товарна Біржа "Подільська" </strong><br>
                              29000 м. Хмельницький,</br>
                              вул. Театральна, 10</br>
                              тел.65-05-13, 70-20-73,</br>
                              70-22-10, 70-22-11,</br>
                              тел./факс 79-58-01</br>
                              код 32452151</br>
                              р/р 2600001258208</br>
                              МФО 325365 ХВ ЦФ ПАТ "Кредобанк"</br>
                              Email: info@birhza.km.ua </br>
                            </address>

                            
                        </div><!-- end .widget_contact_info -->
                        
                    </div><!-- end .span3 -->
                    <div class="span3" id="footer-middle-widget-area-4">
                        
                        <div class="widget ewf_widget_newsletter">
                            
                            <h3 class="widget-title">
                                <span>Зворотній зв'язок</span>
                            </h3>
                        
                            <p>Виникли питання? Потрібна допомога? Напишіть нам! Ми будемо раді Вам допомогти </p>
                            
                            <form id="newsletter-subscribe-form" action="/feedback">
                                <fieldset>
                                    <input type="submit" name="submit" value="Написати нам">
                                </fieldset>
                            </form>
                            
                        </div><!-- end .widget_newsletter -->
                        
                    </div><!-- end .span3 -->
                </div><!-- end .row -->
                
            <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->    
            
            </div><!-- end #footer-middle -->
            <div id="footer-bottom">
            
            <!-- /// FOOTER BOTTOM  ///////////////////////////////////////////////////////////////////////////////////////////////////// -->
              
                <div class="row">
                  <div class="span6" id="footer-bottom-widget-area-1">
                    
            <div class="widget widget_text">
                        
                            <div class="textwidget">
                                <p class="last">
                                   <%= link_to (image_tag "logo1.png", class: "responsive-img", style: "width: 240px"), :root, id: "logo" %>
                                    
                                </p>
                            </div><!-- end .textwidget -->
                            
                        </div><!-- end .widget_text -->
                    
                    </div><!-- end .span6 -->
                    <div class="span6 text-right" id="footer-bottom-widget-area-2">
                    
            <div class="widget ewf_widget_social_media">
                          
                            <div class="fixed">
                              
                                <%= render "layouts/social" %>
                                
                            </div>
                            
                        </div><!-- end .widget_social_media -->
                    
                    </div><!-- end .span6 -->
                </div><!-- end .row -->
                <div align="center" style="width:100%">
                                      <span class="hidden-tablet hidden-phone" >Copyright &copy; 2015 Товарна Біржа Подільська</span>
                                  </div>
            <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
              
            </div><!-- end #footer-bottom -->
            
    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    </div><!-- end #footer -->
    
  </div><!-- end #wrap -->
