      <div id="header-top">
        
        <!-- /// HEADER TOP  //////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        
            <div class="row">
                <div class="span6" id="header-top-widget-area-1">
                    
                    <div class="widget widget_text">
                    
                        <div class="textwidget">
                            <p class="last">
                                Контактна інформація: тел/факс (0382)795-801, info@birzha.km.ua 
                            </p>
                        </div><!-- end .text -->
                    
                    </div><!-- end .widget_text -->
                    
                </div><!-- end .span6 -->
                <div class="span6 text-right" id="header-top-widget-area-2">
                    
                    <div class="widget ewf_widget_social_media">
                          
                        <div class="fixed">
                            
                            <a href="#" class="facebook-icon social-icon">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="twitter-icon social-icon">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="googleplus-icon social-icon">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#" class="pinterest-icon social-icon">
                                <i class="fa fa-pinterest"></i>
                            </a>
                            <a href="#" class="youtube-icon social-icon">
                                <i class="fa fa-youtube"></i>
                            </a>
                            <%= 
                              link_to  "<i class=\"fa fa-check-circle\"></i>".html_safe,admin_root_path, class: "social-icon"
                            %>
                        </div>
                    </div><!-- end .widget_social_media -->
                </div><!-- end .span6 -->
            </div><!-- end .row -->
            
        <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
            
        </div><!-- end #header-top -->