<!DOCTYPE html>
<html lang="en">
  <head>
  <%= render "admin/head" %>
  </head>
  <body>
  	<%= render "admin/menu" %>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron1">
      <div class="container1">
      </div>
    </div>
    <div class="conteiner">
      <div class="center-block partial_mess text-center">
        <%= render partial: "layouts/flash_messages", flash: flash %>
      </div>
    </div>

    <div class="container">
      <%= yield %>
      <hr>
      <footer>
        <p>&copy; 2015</p>
      </footer>
    </div> <!-- /container -->

 
  </body>
</html>